* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  color: $text-color;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}
